<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{parts/common :: html_head()}"></head>

<body class="bg-dark text-light" style="padding-bottom: 60px;">
	<header th:replace="~{parts/common :: header()}"></header>

	<div class="container main-container">
		<div class="row">
			<div class="col">
				<div class="alert alert-danger" th:if="${message}" th:text=${message}></div>
			</div>
		</div>
		<form th:action="@{/training/delete/{id}(id=${training.id})}" method="post">
			<div class="row mt-4">
				<div class="col d-flex me-2 fs-4 title-logo text-truncate">
					<img style="width: 25px;" class="me-1" th:src="@{/images/icon/create.svg}" alt="ログ" />
					<span th:text="${training.name}"></span>
				</div>
				<div class="col-auto d-flex align-items-center">
					<div class=" btn btn-dark rounded-circle p-0 me-2 chart-button">
						<img th:src="@{/images/icon/chart.svg}" alt="グラフ" style="width:25px;" />
					</div>
					<a th:href="@{/training/log/add/{id}(id=${training.id})}">
						<img class="me-2" style="width: 25px;" th:src="@{/images/icon/add.svg}" alt="トレーニングする" />
					</a>
					<a th:href="@{/training/edit/{id}(id=${training.id})}">
						<img class="me-2" style="width: 25px;" th:src="@{/images/icon/setting.svg}" alt="編集" />
					</a>
					<input class="delete" type="image" th:src="@{/images/icon/delete.svg}" style="width: 25px;" alt="削除"
						name="delete">
				</div>
			</div>
		</form>
		<div class="row">
			<div id="g-nav" class="col-lg-6 mt-2 content-header">
				<div class="card bg-dark text-light justify-content-center border-0">
					<h5 class="card-header bg-dark bg-gradient text-center title-logo fs-6">グラフ</h5>
					<div class="card-body ms-2 me-2" style="height:70vh;">
						<div class="row justify-content-end">
							<div class="col-auto btn btn-dark rounded-circle p-0 me-2 chart-button">
								<img th:src="@{/images/icon/chart.svg}" alt="グラフ" style="width:25px;" />
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div id="barChartContainer" style="height:70vh;">
									<canvas id="barChart" th:data-id="${training.id}"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt-2 content-header">
				<div class="table-frame">
					<table class="table table-dark table-striped text-center text-nowrap table-hover align-bottom">
						<thead class="sticky-top">
							<tr>
								<th class="bg-dark bg-gradient">合計重量<br>(kg)
								</th>
								<th class="bg-dark bg-gradient">1RM<br>(MAX)
								</th>
								<th class="bg-dark bg-gradient">最大重量<br>(kg)
								</th>
								<th class="bg-dark bg-gradient">トレーニング日<br>(―)
								</th>
								<th class="bg-dark bg-gradient"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="log:${training.trainingLogList}" class="cursor-hand trainingLog"
								th:data-id="${log.id}">
								<td>[[${log.totalWeight}]]</td>
								<td>[[${log.oneRepMax}]]</td>
								<td>[[${log.maxWeight}]]</td>
								<td>[[${#dates.format(log.registered,"yyyy-MM-dd")}]]</td>
								<td>
									<img th:src="@{/images/icon/right.svg}" alt="編集" style="width: 25px;">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="~{parts/common :: footer()}"></footer>
	<th:block th:replace="~{parts/common :: javascripts()}"></th:block>
	<script th:src="@{/webjars/chartjs/4.1.2/dist/chart.umd.js}"></script>
	<script th:src="@{/webjars/momentjs/2.29.4/moment.js}"></script>
	<script th:src="@{/webjars/chartjs-adapter-moment/1.0.0/dist/chartjs-adapter-moment.min.js}"></script>
	<script th:src="@{/js/button-action.js}"></script>
	<script th:src="@{/js/trainingLogButton.js}"></script>
	<script th:src="@{/js/trainingLogChart.js}"></script>
	<script th:src="@{/js/chart-button.js}"></script>
</body>

</html>