<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.dao.TempUserDao">

	<select
	id="selectByUuid"
	parameterType="String"
	resultType="com.example.app.domain.MUser">	
	</select>
	
	<insert
	id="insert"
	parameterType="com.example.app.domain.TempUser">
		INSERT INTO master_users
		(id,name,email,login_pass,birthday,sex_id,icon_path,registered,uuid)
		VALUES
		(#{userForm.id},#{userForm.name},#{userForm.email},#{userForm.loginPass},#{userForm.birthday},#{userForm.sex.id},#{userForm.iconPath},NOW(),#{uuid})
	</insert>
	
	<delete id="delete" parameterType="int">
	</delete>

</mapper>
