<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.dao.TrainingDao">

	<resultMap id="trainingPart"
		type="com.example.app.domain.TrainingPart">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<collection property="trainingList"
			ofType="com.example.app.domain.Training">
			<id property="id" column="training_id" />
			<result property="name" column="training_name" />
			<result property="lastTrainingDay" column="last_training_day" />
			<association property="priority"
				javaType="com.example.app.domain.Priority">
				<id property="id" column="priority_id" />
			</association>
		</collection>
	</resultMap>
	<resultMap id="weekday" type="com.example.app.domain.Weekday">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<collection property="trainingList"
			ofType="com.example.app.domain.Training">
			<id property="id" column="training_id" />
			<result property="name" column="training_name" />
			<result property="lastTrainingDay" column="last_training_day" />
			<association property="priority"
				javaType="com.example.app.domain.Priority">
				<id property="id" column="priority_id" />
			</association>
		</collection>
	</resultMap>
	<resultMap id="training"
		type="com.example.app.domain.Training">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="name" column="name" />
		<association property="priority"
			javaType="com.example.app.domain.Priority">
			<id property="id" column="priority_id" />
		</association>
		<association property="trainingType"
			javaType="com.example.app.domain.TrainingType">
			<id property="id" column="type_id" />
		</association>
		<association property="trainingPart"
			javaType="com.example.app.domain.TrainingPart">
			<id property="id" column="part_id" />
		</association>
		<association property="weekday"
			javaType="com.example.app.domain.Weekday">
			<id property="id" column="weekday_id" />
		</association>
	</resultMap>

	<select id="findAllOrderByPart" parameterType="int"
		resultMap="trainingPart">
		SELECT
		training_parts.id, training_parts.name,
		master_trainings.id AS training_id,
		master_trainings.name AS
		training_name,
		master_trainings.last_training_day,
		master_trainings.priority_id,
		master_trainings.last_training_day
		FROM
		training_parts
		JOIN master_trainings
		ON training_parts.id =
		master_trainings.part_id
		WHERE user_id=#{id}
		AND
		master_trainings.status="ACT"
		ORDER BY training_parts.id
	</select>
	<select id="findbyTrainingId" parameterType="int"
		resultMap="training">
		SELECT * FROM master_trainings
		WHERE
		master_trainings.id=${id}
		AND status = "ACT"
	</select>
	<insert id="insert"
		parameterType="com.example.app.domain.Training">
		INSERT INTO master_trainings
		(user_id, name,part_id,
		type_id,
		priority_id,weekday_id,registered,status)
		VALUES
		(#{userId},#{name},#{trainingPart.id}, #{trainingType.id},
		#{priority.id},#{weekday.id},NOW(),"ACT")
	</insert>
	<update id="update"
		parameterType="com.example.app.domain.Training">
		UPDATE
		master_trainings
		SET name=#{name},
		part_id=#{trainingPart.id},
		part_id=#{trainingPart.id},
		priority_id=#{priority.id},
		weekday_id=#{weekday.id}
		WHERE id=#{id}
	</update>
	<update id="delete" parameterType="int">
		UPDATE master_trainings
		SET status = "DEL"
		WHERE id=#{id}
		LIMIT 1
	</update>
	<update id="updateLastTrainingDay" parameterType="int">
		UPDATE
		master_trainings AS p1,
		(
		SELECT MAX(registered) AS max
		FROM
		training_logs
		WHERE training_id=#{id}
        AND training_logs.status = "ACT"
		) AS p2
		SET p1.last_training_day =
		p2.max
		WHERE p1.id=#{id}
		
		
	</update>

</mapper>
