<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.dao.UserDao">

	<resultMap id="user" type="com.example.app.domain.MUser">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="loginPass" column="login_pass" />
		<result property="birthday" column="birthday" />
		<result property="iconPath" column="icon_path" />
		<result property="registered" column="registered" />
		<association property="sex"
			javaType="com.example.app.domain.Sex">
			<id property="id" column="sex_id" />
			<result property="name" column="sex_name" />
		</association>
		<collection property="roleList" ofType="String">
			<result property="role" column="role" />
		</collection>
	</resultMap>

	<select
	id="selectByEmail"
	parameterType="String"
	resultMap="user">
		SELECT
		master_users.id,
		master_users.name,
		master_users.email,
		master_users.login_pass,
		master_users.birthday,
		master_users.icon_path,
		master_users.registered,
		sexes.id AS sex_id,
		sexes.name AS sex_name,
		master_roles.name AS role
		FROM master_users
		JOIN sexes 
		ON master_users.sex_id = sexes.id
		JOIN user_roles
		 ON master_users.id = user_roles.user_id
		JOIN master_roles
		 ON user_roles.role_id = master_roles.id
		WHERE email = #{email}
		AND master_users.status = "ACT"
	</select>
	<select
	id="selectById"
	parameterType="int"
	resultType="com.example.app.domain.MUser">
		SELECT
		master_users.id,
		master_users.name,
		master_users.email,
		master_users.login_pass,
		master_users.birthday,
		master_users.icon_path
		FROM master_users
		WHERE master_users.id = #{id}
		AND master_users.status = "ACT"
	</select>
	<insert
	id="insert"
	parameterType="com.example.app.domain.MUser"
	useGeneratedKeys="true"
	keyProperty="id">
		INSERT INTO master_users
		(name,email,login_pass,birthday,sex_id,icon_path,registered)
		VALUES
		(#{name},#{email},#{loginPass},#{birthday},#{sex.id},#{iconPath},NOW())
	</insert>
	<update
	id="update"
	parameterType="com.example.app.domain.MUser">
		UPDATE master_users
		SET
		name=#{name},
		email=#{email},
		login_pass=#{loginPass},
		birthday=#{birthday},
		sex_id=#{sex.id},
		icon_path=#{iconPath}
		WHERE
		id=#{id}
		LIMIT 1
	</update>

</mapper>
