@charset "UTF-8";

body {
	font-size: 0.8rem;
	font-family: "メイリオ", sans-serif;
}

.main-container{
	display: none ;
}

.table-frame{
	height: 70vh;
	overflow: auto;
}

.error-message {
	color: #f00;
}

.title-logo {
	font-family: serif, sans-serif;
	font-weight: bold;
}

.nav-tabs .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: rgb(128, 30, 30);
	border: none;
}

.cursor-hand {
	cursor: pointer;
	cursor: hand;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background-color: rgba(165, 73, 77, 0.3);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb {
	background: rgb(165, 73, 77);
	border-radius: 20px;
	width: 20px;
}