@charset "UTF-8";

body {
	font-size: 1rem;
  font-family: "メイリオ", sans-serif;
}

.error-message {
  color: #f00;
}

.title-logo{
	font-family: serif,sans-serif;
}

::-webkit-scrollbar {
width: 16px;
height: 20px;
}
::-webkit-scrollbar-track {
background-color: rgba(165, 73, 77,0.3);
border-radius: 100px;
}
::-webkit-scrollbar-thumb {
background: rgb(165, 73, 77);
border-radius: 100px;
width: 130px;
}