<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: html_head()}"></head>
<body id="loginPage" class="bg-dark text-light" style="padding-bottom: 60px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-6 mt-4">
                <div class="panel panel-default text-center">
                    <h1 class="fs-4 title-logo mb-4">仮登録メール送信</h1>
                    <div class="panel-body">

                        <div class="alert alert-success" th:if="${message}">[[${message}]]</div>

                        <div class="alert alert-danger" th:errors="${userRegister.email}"></div>

                        <form th:action="@{/accounts}" method="post" th:object="${userRegister}">
                            <div class="mb-3">
                                <input type="text" placeholder="メールアドレス" class="form-control bg-dark bg-gradient text-light border-0" th:field="*{email}">
                            </div>
                            <div class="mb-3">
                                <input type="submit" class="btn btn-danger w-100" value="案内メール送信">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{parts/common :: footer()}"></footer>
    <th:block th:replace="~{parts/common :: javascripts()}"></th:block>
</body>
</html>
