<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{parts/common :: html_head()}"></head>
<body id="loginPage" class="bg-dark text-light" style="padding-bottom: 60px;">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <img class="col-auto" src="/images/logo.svg" alt="" width="200px" height="200px">
        </div>
        <div class="row justify-content-center">
            <div class="col col-md-6 mt-4">
                <div class="panel panel-default text-center">
                    <h1 class="h3  title-logo mb-4">Please log in</h1>
                    <div class="panel-body">

                        <div class="alert alert-success" th:if="${message}">[[${message}]]</div>

                        <div class="alert alert-danger" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></div>

                        <form th:action="@{/login}" method="post" class="form-login">
                            <div class="mb-3">
                                <input type="email" placeholder="メールアドレス" class="form-control bg-dark bg-gradient text-light border-0" name="email">
                            </div>
                            <div class="mb-3">
                                <input type="password" placeholder="パスワード" class="form-control bg-dark bg-gradient text-light border-0" name="loginPass">
                            </div>
                            <div class="mb-3 form-check d-flex justify-content-start">
                                <input class="form-check-input me-1" type="checkbox" id="remember-me" name="remember-me">
                                <label class="form-check-label title-logo" for="remember-me"> Remember Me </label>
                            </div>
                            <div class="mb-3">
                                <input type="submit" class="btn btn-danger w-100 title-logo" value="login">
                            </div>
                        </form>
                    </div>
                    <p>
                        <a th:href="@{/accounts}" class=" title-logo fs-4 link-danger">新規登録</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{parts/common :: footer()}"></footer>
    <th:block th:replace="~{parts/common :: javascripts()}"></th:block>
</body>
</html>
