<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="html_head()">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<title>DARK MUSCLE</title>
</head>

<body>

    <header th:fragment="header()">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
            <div class="container" th:object="${#authentication.principal.loginUser}">
                <a class="d-flex navbar-brand title-logo align-baseline" th:href="@{/training}">
                    <img src="/images/logo.svg" alt="" width="30" height="24">DARK MUSCLE
                </a>
                <p class="me-2">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </p>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item text-end">
                        <a class="nav-link text-decoration-none" th:href="@{/user/edit}">
                                <img th:src="@{/images/profile/__*{iconPath}__}" style="width: 20px;" alt="アイコン"> <span >[[*{name}]]</span>
                            </a>
                            </li>
                        <li class="nav-item text-end"></li>
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="post" class="d-flex justify-content-end">
                                <input type="hidden" id="userId" th:value="${#authentication.principal.loginUser.id}">
                                <input type='submit' class="nav-link logout" style="background: transparent; border: none;" value="ログアウト">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <footer th:fragment="footer()" class="footer fixed-bottom bg-dark">
        <div class="container">
            <p class="text-muted text-center text-dark">&copy;sample.2023.</p>
        </div>
    </footer>

    <th:block th:fragment="javascripts()">
        <script th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/logout-action.js}"></script>
        <script th:src="@{/js/fadeIn.js}"></script>
    </th:block>
</body>

</html>